body{
    background-color: #272727;
}
#one {
   color: #ff652f; 
}

#two {
    color: #ffe400;
    background-color: transparent;
}

#three {
    color: #14a76c;
    background-color: transparent;
}

.text {
    color: #747474;
}